<ion-content [fullscreen]="true">

  <div class="dashHeader">
    <ion-slides pager="false" [options]="slideOpts">
      <ion-slide>
        <div class="dashHeaderContentData">
          <img src="../../assets/wallet.png" alt="">
          <div>
            <p class="Title">Account Balance</p>
            <p class="Value">1,787.26</p>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="dashHeaderContentData">
          <img src="../../assets/graph.png" alt="">
          <div>
            <p class="Title">Total PNL (USDT)</p>
            <p class="Value">17,872.36</p>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="dashHeaderContentData">
          <img src="../../assets/trophy.png" alt="">
          <div>
            <p class="Title">Win Rate</p>
            <p class="Value">95,86%</p>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="dashContent">

    <div class="searchBar">
      <ion-searchbar animated="true" placeholder="Search"></ion-searchbar>
    </div>

    <div class="historyDate">
      <p>Mardi, le 14 mars 2022</p>
    </div>

    <div class="tradeHistory">
      <ion-row *ngFor="let current of currentData">
        <ion-col size="2">
          <ion-avatar>
            <img style="height: 34.5px; width: 34.5px;" [src]="current.logo" />
          </ion-avatar>
        </ion-col>

        <ion-col size="6">
          <div class="currency"> {{current.currency}} </div>
          <div class="currencyPrice"> ${{current.buyPrice}} - ${{current.actualPrice}}</div>
        </ion-col>

        <ion-col size="4" class="btcUsdtTotalPrice">
          <div class="historiqueAction" [ngStyle]="{'color': current.action === true? 'green' : 'red'}"><span
              *ngIf="current.action === true">BUY</span> <span *ngIf="current.action === !true">SELL</span></div>
          <h2>
            <div>$</div>{{current.amount}}
          </h2>
        </ion-col>
      </ion-row>
    </div>



  </div>

</ion-content>
